.specials-header-container {
  display: flex;
  align-items: flex-start;
  margin-top: 1em;
  margin-bottom: 1em;
}

.specials-header-container > h1 {
  flex-grow: 1;
}

.specials-header-container > .button {
  flex-shrink: 0;
}